[Unit]
Description=Sindicatto Admin Astro Web
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/sindicatto/sites/sindicatto
Environment=NODE_ENV=production
Environment=HOST=127.0.0.1
Environment=PORT=4321
ExecStart=/usr/bin/node /home/ubuntu/sindicatto/sites/sindicatto/dist/server/entry.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target