[Unit]
Description=asaclub-app Web Astro
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/apps/asaclub-app/apps/web
EnvironmentFile=/home/ubuntu/apps/asaclub-app/apps/web/.env
Environment=HOST=127.0.0.1
Environment=PORT=4004
ExecStart=/usr/bin/node /home/ubuntu/apps/asaclub-app/apps/web/dist/server/entry.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
